:root{
  --color1: rgb(219,144,.5);
  --color2: rgba(0, 128, 128, 1);
  --color3: rgba(11,194,211, 0.623);
  --colorTextos: #faebd7;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans';
  background: var(--fondo);
}

img{
  vertical-align: top;
}

form{
    float:right;
    margin:125px;
    background: rgba(255,69,0, .7);
    width: 20%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
   }

.form{
    width: 100%;
    text-align: center;
    color: #faebd7;
}

form .grupo{
    position: relative;
    margin: 15px;
}

input, textarea{
    background: none;
    color:#faebd7;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(0,51,102);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{

    position: absolute;
    top: -14px;
    font-size: 22px;
    color: rgb(0,51,102);
}

label{
    color: var(--colorTextos);
    font-size: 30px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1177a7, #88d13c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1177a7, #88d13c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#faebd7; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}


@media screen and (max-width:1100px){
    form{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    form{
        width: 70%;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    form{
        width: 90%;
    }
}
/* Preloader */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* Header */

header{
  width: 100%;
  height:600px;
  background: linear-gradient(to bottom,
  rgba(0,64,128, .5),
  rgba(29,241,171, .7),
  rgba(211,135,20, .6)
 ), url(img/fondo4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* barra transparente */
nav{
  width: 100%;
  position: fixed;
  z-index: 2000;
  box-shadow: 0 0 80px 0 rgba(0,0,0,.5) 
 
}

.nav1{
  background: transparent;
  height: 110px;
  color:#fff;
  
}

.nav2{
  background: rgba(127,182,167, .8);
  height:120px;
  color:#fff;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width:1000px;
  height:inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-left: 50px;
  font-size: 23px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px  solid transparent;
  color: inherit;
  
}

nav .enlaces a:hover{
  border-bottom: 3px solid #1498a4;
  transition: 0.6s;
  
}

.logo, .logo img{ height:90px;}

.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.textos{
  float: left;
  width: 40%;
  height: 70%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: right;
  margin: 95px;
  color:white;
  overflow: hidden;
  text-align: center;
}

.textos>h1{
  font-size:35px;
  text-align: justify;
}
.textos>h2{
  font-size: 20px; 
  text-align: justify;
}

.textos2{
  font-size: 20px; 
  font-weight: 300; 
  text-align: justify;
}
/* Main */

.contenedor{
  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3{
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p{
 text-align: justify;
 font-size: 25px;
 font-weight: 300;
 color: var(--color2);
 
 
}

.contenedor ul{
 text-align: justify;
  font-size: 30px;
  font-weight: 300;
  color: var(--color2);
}
.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 1000px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}

.subtitulos{
 /* font-size: var(--titulos);*/
  color: var(--color1);
  margin-bottom: var(--espacios);
  font-weight: 300;
  font-size: 38px;
}


.about{
  background: url(img/teclado.jpg);
  height: 70%;
}

.servicios{
  display: flex;
  color:#fff;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.caja-servicios{
  width: 30%;
  margin: auto;
  text-align: center;
}
.caja-servicios>h4{
  margin-bottom: var(--espacios);
}

.caja-servicios>p{
  text-align: center;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:350px;
    overflow: hidden;
    margin-bottom:50px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}




.lg{
  text-align: justify;
  background: rgba(0,0,0,0.7);
  
  font-size: 10px;
  
  
  

}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
   
    /* background:rgba(0, 118, 192, 0.781) ; */
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    
}

.overlay h2{
    color: #fff;
    text-align: justify;
    background: rgba(0,0,0,0.7);
    width: auto;
    font-weight: 300;
    font-size:20px;
    position: relative; 
    top: 60%;
    left:50%;
    transform: translate(-50%, -55%);
    cursor: pointer;
}

.imagen:hover .overlay{
     height:50%;
    /* cursor: pointer; */
   
}
.sub{
  color:white;
  text-decoration: none;
  font-size:20px;
}

.sub1{
  color:white;
  text-decoration: none;
  font-size:20px;
  font-family: sans-serif;
  text-decoration: none;
}

.parrafos{
  font-size: 20px; 
  text-align: justify;
  color: #fff;
  text-align: justify;
  background: rgba(0,0,0,0.7);
  width: auto;
  font-weight: 300;
  font-size:20px;
  position: relative; 
  top: 60%;
  left:50%;
  transform: translate(-50%, -55%);
  cursor: pointer;

}
.portafolio{
  position:absolute; 
  background: rgba(226, 58, 28, 0.7);
  font-size: 16px; height: 110px;
}

.click{
	
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
  
  
  

}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}



/* Footer */

 footer {background:url(img/footer.jpg);
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
  background-size: cover;
  color: #faebd7;
  text-decoration: none;
  text-align: justify;
  font-size: 25px;
  font-weight: 300;
 
}

 


.marca-logo{
  width: 40%;
  margin: auto;
  margin-bottom: var(--espacios);
}
.marca-logo img{
  width: 100%;
}
.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}
/* .fab{
  font-size:60px;
  color: #FFF;
  margin-bottom: var(--espacios);
  display: inline-block; 
} */
  .social {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0; /* Establecemos la barra en la izquierda */
    top: 200px; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
  }
  
    .social ul {
      list-style: none;
    }
  
    .social ul li a {
      display: inline-block;
      color:#fff;
      background: #000;
      padding: 10px 15px;
      text-decoration: none;
      -webkit-transition:all 500ms ease;
      -o-transition:all 500ms ease;
      transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
    }
  
    .social ul li .icon-facebook  /* Establecemos los colores de cada red social, aprovechando su class */
    .social ul li .icon-twitter {background: #00abf0;}
    .social ul li .icon-youtube {background: #c4302b;}
    .social ul li .icon-pinterest {background: #ae181f;}
    .social ul li .icon-mail {background: #666666;}
  
    .social ul li a:hover {
      background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
      padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }
    
    



@media screen and (max-width: 700px){
  .nav2{
    color: #fff;
  }

  .icono{
    display:block;
    cursor: pointer;
  }
/* funciona para el boton escondido, (responsive) */
  .enlaces{
    position: fixed;
    top:80px;
    background: #2c3e50;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }

  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background: #34495e;
    color:#fff;
  }

  .textos>h1{font-size: 50px;}
  .textos>h2{font-size:20px;}

  .content-card{
    width: 48%;
    margin-bottom:var(--margenes);
  }

  :root{
    --margenes: 30px;
  }
}

@media screen and (max-width: 500px){
  :root{
    --espacios-contenido: 25px;
  }

  .imagen{
    width: 90%;
    
  }


  .marca-logo{
    width: 80%;
  }

   
}

/* AUDIO */

.audio{
     justify-content:  flex-end;  
     align-self: flex-start;
     display: flex;
     text-align: center;
     padding-top: 50px;
     padding-right: 180px;
     
     
    
}

.audio1{
  
          
  margin: 20px;    
  padding: 8px;
  background-color:#FF0000;
  border-radius: 10px 10px 10px 10px; 
  color:#fff;      
           
           
          
           
}

.audio2{
  
  margin: 20px;
  padding: 8px;
  background-color: #00FF00;
  border-radius: 10px 10px 10px 10px;
  color:#fff; 
   
  
}

.audio3{
 
  padding: 8px;
  background-color: #0000FF;
  border-radius: 10px 10px 10px 10px;
  margin: 20px;
  color:#fff;
  
}